<div class="registration">
    <form method="post" id="registration" action="/users/user">
        <div class="field">
            <label for="login">Логин</label>
            <input type="text" name="login" id="login" value="" />
        </div>
        <div class="field">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" value="" />
        </div>
        <div class="field">
            <label for="confirm_password">Подтвердиите пароль</label>
            <input type="password" name="confirm_password" id="confirm_password" value="" />
        </div>
        <div class="field">
            <label for="firstname">Имя</label>
            <input type="text" name="firstname" id="firstname" value="" />
        </div>
        <div class="field">
            <label for="lastname">Фамилия</label>
            <input type="text" name="lastname" id="lastname" value="" />
        </div>
        <div class="field">
            <label for="phone">Номер телефона</label>
            <input type="text" name="phone" id="phone" value="" />
        </div>
        <button type="submit">Зарегистрироваться</button>
    </form>
    <div><a href="#/login">К форме логина</a></div>
</div>